<div class="container-fluid content-wrapper">
    <div class="row align-items-start text-center" style="min-height: calc(100vh - 60px); background-color: #004085;">
      <div class="col-md-6 text-white d-flex flex-column justify-content-center align-items-center">
        <div>
          <h3>FINANCIAMOS TU<br>EDUCACIÓN UNIVERSITARIA</h3>
          <p>Tenemos las soluciones que los estudiantes necesitan para no<br>abandonar sus estudios y metas profesionales.</p>
        </div>
      </div>
      <div class="col-md-6 d-flex justify-content-end align-items-start">
        <img src="assets/logo_educ.png" class="img-fluid" alt="Financiamiento">
      </div>
    </div>
  </div>
  